{% extends "Layout.twig" %}

{% block style %}
<link rel="stylesheet" href="/assets/css/admin_style.css">
{% endblock %}

{% block content %}

<div class="row justify-content-around">
    <div class="col-4 box">
        <h1>Utilisateurs</h1>
        <hr>
        <a href="{{ path_for('createUser') }}" class="btn btn-outline-success btn-sm">
            Nouvel utilisateur
        </a>
        <a href="{{ path_for('users') }}" class="btn btn-outline-warning btn-sm">
            Gestion des utilisateurs
        </a>
    </div>

    <div class="col-4 box">
        <h1>Evenements</h1>
        <hr>
        <a href="{{ path_for('events') }}" class="btn btn-outline-warning btn-sm">
            Gestion des events
        </a>
    </div>
</div>
{% endblock %}